header {
	background: url(../img/header_bg.jpg) no-repeat center center / cover;
}

footer {
	background: #eee;
	color: #999;
	padding: 15px;
	text-align: center;
	box-shadow: inset 0px 12px 10px -10px rgba(0, 0, 0, 0.7);
}

#heading {
	margin: 0;
}

.logo {
	height: 80px;
	float: left;
}

nav {
	float: right;
	margin-top: 15px;
}

.menu {
	padding: 0;
	margin: 0;
	display: block;
}

.menu li {
	float: left;
	display: block;
}

.menu .btn {
	padding-right: 20px;
	padding-left: 20px;
}

#title_first {
	padding-top: 60px;
	padding-bottom: 100px;
}

header h1 {
	font-size: 65px;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	margin: 0;
	stroke: 1px;
}

#addition {
	margin: 0;
	color: #fff;
	text-align: center;
}